<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rongill.rsg.sinprojecttest">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SinApp"
        android:allowBackup="true"
        android:icon="@drawable/sinicon"
        android:label="SIN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.ManagementActivity"
            android:label="@string/title_activity_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.CreateUserProfileActivity" />
        <activity
            android:name=".activities.FriendProfileActivity"
            android:parentActivityName=".activities.MainDrowerActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activities.MainDrowerActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LocationInfoActivity" />
        <activity android:name=".activities.StructureInfoActivity" />
        <activity android:name=".activities.LocationSettingActivity" />
        <activity
            android:name=".activities.AddModifyLocationActivity"
            android:theme="@style/AppTheme.WindowOverActivityPopupTheme" />
        <activity android:name=".activities.BeaconSettingActivity" />
        <activity
            android:name=".activities.AddModifyBeaconActivity"
            android:theme="@style/AppTheme.WindowOverActivityPopupTheme" />
        <activity
            android:name=".activities.MessageBox"
            android:theme="@style/AppTheme.WindowOverActivityPopupTheme" />

        <service android:name=".services.DynamicNavigationService" />
        <receiver android:name=".services.NotificationReceiver" />
        <service android:name=".services.InboxService" />
        <service android:name=".services.StructureMessageBoxService" />
        <service android:name=".services.LiveLocationService"/>
    </application>

</manifest>